{% extends 'layout.html' %}

{% block title %}Downloads | Company Site{% endblock %}

{% block content %}
<div class="container">
    <h1>Available Downloads</h1>
    <p>We offer a range of free resources and tools to help you. Click on the files below to download:</p>
    <ul>
        {% for file in files %}
        <li>
            <span>{{ file }}</span>
            <a href="{{ url_for('download_file', filename=file) }}" class="button">Download Now</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

